{% extends 'base.html' %}

{% load static %}

{% block bootstrap5_title %}{% block title %}Kamera - Stream{% endblock %}{% endblock %}

{% block bootstrap5_content %}

<div class="container">
    <h1 >Livestream</h1>
</div>

<div class="container">

    <div class="card" style="width: 50rem;">
      <img src="{% url 'camera:videostream' %}" alt="Live stream">
      <div class="card-body">
        <p class="card-text">Hier werden die Feuchte-Sensor Daten ermittelt.</p>
      </div>
    </div>

</div>

{% endblock %}
